.custom-count {
    width: 80%;
    background:#3f97d2;
    color: #fff;
    padding: 5rem;
    border: 1px solid #D4D4D4;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flex.cursor-grab.items-center.active\:cursor-grabbing{
  height:480px;
}
 @media screen and (min-width: 300px) and (max-width: 767px) {
  .flex.cursor-grab.items-center.active\:cursor-grabbing{
    height:250px;
  }
 }
.text-extra-small {
    font-size: 3rem;
    font-weight: 900;
}

.text-4xl {
    font-size: 3.5rem;
}

.custom-text {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: #FFF;
    text-align: center;

}

.small-space {
    display: block;
    height: 40px;
}

.small-sub-space{
    display: block;
    height: 10px;
}
.special-hght{
  height:550px !important;
}

.main-heading p {
    text-align: center;
    padding: 1rem;
    line-height:34px;
    color: #1f2937;
    font-size: 2rem;
    font-weight: 700;
}
span.colour-text{
    color:#3f97d2;
}
.bg-indigo-500{
background-color: #3f97d2;
}
.text-indigo-500{
color: #3f97d2;
}
.carousel-inner {
    height: 538px;
  }
  
  .carousel-control-prev {
    height: 50px;
    left: unset !important;
    position: fixed !important;
    top: -5px !important;
    right: 50%;
    color: gray !important;
  }
  
  .carousel-control-next {
    height: 50px;
    right: unset !important;
    position: fixed !important;
    top: -5px !important;
    left: 50%;
    color: gray !important;
  }
  .color-customs{
    padding:.5rem ;
  }
  .autoslideImg{
    display: flex;
    background: #0f172a;
    border-radius: .5rem;
    height: 11rem;
  }
  .autoslideImg img{
    border-radius: .5rem 0 0 .5rem;
    width:50%;
  }
  .autoslideImg p{
   color: #CBD5E1;
   font-size: .9rem;
  }
  .autoslideImg h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;

   } .autoslideImg h3{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
   }
  .row-space{
    padding: 0.7rem;
  }
  .small-testi img{
    width: 7rem;
    height: 5rem;
  }
  video {
    max-width: 100%;
    height: 500px;
}
a.text-gray-400.hover\:text-teal-400.duration-300.text-sm.cursor-pointer.leading-6 {
  font-size: 1rem;
  line-height: 1px;
}
.coming-soon{
  position: relative;
}
.coming-soon:after{
  content: "";
  position: absolute;
  width: 45%;
  border-radius: 20px 0px 0px 20px;
  height: 255px;
  top: -41px;
  background: #3f97d2;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.coming-title{
  position: relative;

}
.coming-title:after{
 content: "COMING SOON";
  position: absolute;
  width: 230px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0px 0px 20px 20px;
  height: 64px;
  top: -41px;
  background: #3d7193;
  right: 30%; /* Center the title horizontally */
  transform: translateX(50%); /* Center the title horizontally */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.coming-soon .sample {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 60px;
  width: 100%;
  max-width: 42%;
}
.card-container {
  width: 300px;
  background: #3f97d2;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

}
.centered-div{
  display: flex;
  justify-content: center;
}
.coming-card-title{
  position: relative;
}
.coming-card-title:after {
  content: "COMING SOON";
  position: absolute;
  width: 150px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: .7rem;
  border-radius: 0px 0px 20px 20px;
  height: 46px;
  top: 0px;
  background: #3d7193;
  right: 65%;
  transform: translateX(50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.carousal-icon {
  position: relative;
  top: 70px;
  left: 50%; /* Center the icon horizontally within the card */
  transform: translateX(-50%);
  width: 70%;
  max-width: 100%;
}
.autoslide-img img{
  width:100%;
  height:86px;
}
.autoslide-img p{
color: #fff;
 text-align: center;
 font-size: 14px;
 padding:1rem ;
}
.autoslide-img-mob img{
  width:100%;
  height:70px;
}
.autoslide-img-mob p{
 text-align: center;
 font-size: 14px;
 padding:1rem ;
 color: #fff;
}
.form-clr{
  background-color:#3f97d2;
}
.notifications-container{
position: relative;
top :3rem;
}
.form-input-clr{
background-color:#2f73a1;
}
.border-zinc-clr{
  background-color: #3a4b57;
}
.text-teal-500{
  color:#3f97d2;
}
.hover\:bg-teal-500:hover{
  background-color:#3f97d2;
}
.underline {
  position: relative;
  color: #FFF;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 10%;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  transition: width 0.3s ease; 
  border-radius: 50px;
}
.entry-wrapper {
  width: 340px;
}
.blog-posts .entry-cover {
  position: relative;
  overflow: hidden;
}
.blog-posts .entry-cover a:before {
  height: 1px;
  width: 30px;
  margin-top: -1px;
  margin-left: -15px;
}
.blog-posts .entry-content-wrap {
  padding: 25px 30px 25px 30px;
  background: #f2f4f8;
  position: relative;
}
.blog-posts .entry-header .entry-title {
  font-size: 18px;
  height: 90px;
}
.blog-posts .entry-header .entry-title {
  font-size: 20px;
  margin: 0;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 78px;
}
.blog-posts .entry-footer {
  margin-top: 15px;
}
.blog-posts .entry-footer .entry-meta {
  color: #b9c1cf;
}
.blog-posts .entry-footer .entry-meta .entry-author {
  margin-right: 5px;
}
.blog-posts .entry-cover .entry-time {
  position: absolute;
  width: max-content;
  height: 60px;
  background-color: #15416e;
  top: 0;
  left: 30px;
  color: #ffffff;
  font-weight: 700;
  z-index: 9;
  margin: 0;
  text-align: center;
  padding: 0px 6px;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.blog-posts .entry-cover .entry-time span.entry-day {
  font-size: 22px;
  margin-top: 7px;
}

.blog-posts .entry-cover .entry-time span {
  display: block;
  text-transform: uppercase;
  line-height: 1;
}
.blog-posts .entry-cover .entry-time span {
  display: block;
  text-transform: uppercase;
  line-height: 1;
}
.blog-posts .entry-cover .entry-time {
  position: absolute;
  width: max-content;
  height: 60px;
  background-color: #3f97d2;
  top: 0;
  left: 30px;
  color: #ffffff;
  font-weight: 700;
  z-index: 9;
  margin: 0;
  text-align: center;
  padding: 0px 6px;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.blog-posts .entry-content-wrap:after {
  width: 60px;
  height: 5px;
  background-color: #3f97d2;
  content: "";
  top: 0;
  left: 30px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.blog-posts .entry-content-wrap:hover:after {
  width: 260px;
  transition: all 0.3s ease-in-out;
}
.blog-posts .entry-content-wrap:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.to-indigo-600 {
  background: #3f97d2;
}

.speakers {
  transition: .4s;
  border: 1px solid #dee2e6;
  flex-direction: column;
  border-radius: 6px;
  border-top: 5px solid #3f97d2;
  box-shadow: 0 0 10px #cbcbcb;
}
.spk-img {
  background: #fff;
  padding-bottom: 15px;
}
.speakers{
  text-align: center;
}
 .spk-info {
  text-align: center;
  padding: 10px 6px 38px;
}
 .spk-info p {
  font-size: 11px;
  margin-bottom: 0;
  color: #656565;
}
.spk-img img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: -50px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #aeaeae;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
 .ocm-margin {
  margin: 50px 0;
}
.reg-btn {
  background-image: linear-gradient(73.1deg, #3f97d2 8%, #076eb3 86.9%);
  margin-left: 3px;
  cursor: pointer;
  color: #fff;
  border-radius: 28px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  animation: 1s linear infinite blink;
}
.reg-btn, .sub-btn {
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
}
.moreinfo-btn {
  position: relative;
  bottom: -18px;
  width: calc(100% - 0px);
}
.speakers:hover {
  border: 1px solid #3f97d2;
  background: #3f97d2;
}
.speakers:hover .spk-info p{
  color: #fff;
}
.speakers:hover .spk-info h3{
  color: #fff;
}
.speakers:hover .moreinfo-btn a {
  background: linear-gradient(to right, #0c145a 9%, #0059a6 56%, #0c145a 100%);
 }
 .speakers .spk-info h3 {
  color: #3f97d2;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px !important;
  transition: .4s;
 }
 .centered-img {
  display: block;
  margin: 0 auto;
}

.custom-close-btn {
  background-color: #5a5a5a;
  border-color: #5a5a5a;
  color: #fff;
}

.custom-close-btn:hover {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: #fff;
}
.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tawk-badge {
  height: 1.25rem;
  width: 1.25rem;
  font-size: .687rem;
  line-height: 1.25rem;
  background: #bf1212;
  color: #fff;
  border-radius: 50%;
}
.tawk-badge.tawk-min-badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
}

.whatsapp-icon {
  font-size: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Adjust the background opacity */
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay-content {
  max-width: 600px;
}

.learn-more-btn {
  display: inline-flex;
  align-items: center;
  background-color: #3f97d2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.learn-more-btn svg {
  margin-left: 8px;
}

 @media (min-width: 300px) {
  .container {
      max-width: 1140px;
  }
}