//- html
//-   head
//-     title Admin Portal
//-   body
//-     h1 Admin Portal
//-     a(href='/logout') Logout
//-     ul
//-       each email in emails
//-         li= email.name + ' - ' + email.email
